 /* Style the tab */
.tabs-tab {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #eca400;
}

/* Style the buttons that are used to open the tab content */
.tabs-tablinks{
  background-color: inherit;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  width: 10vw;
  height: 0px;
  border-bottom: 40px solid #b1b1b1;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  text-align: center;
  font-size: x-large;
  padding-bottom: 15px;
}

.tabs-outerTab{
    background-color: #eca400;
    padding: 0;
}

/* Change background color of buttons on hover */
.tabs-outerTab div:hover {
  border-bottom: 40px solid #e63946;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

/* Create an active/current tablink class */
.tabs-outerTab div.active {
  border-bottom: 40px solid #e63946;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

/* Style the tab content */
.tabs-tabcontent {
  display: none;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #ccc;
  border-top: none;
} 

#tabs-tabContainer{
  display: flex;
  justify-content: center;
}

#tabs-tabDiv{
  width: 100%;
}