body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E6E8E6;
    margin: 0;
}

#header-table {
    margin: 0;
    border-collapse: collapse;
    width: 100%;
}

#header-table 
{
    width: 100%;
}
.header-button {
    border: 1px solid black;
    width: 25%;
}

th.header-button 
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-button a:link {
    text-decoration: none;
    color: darkslategrey;
}  

.header-button a{
    text-decoration: none;
    color: darkslategrey;
}  

.header-button a:visited {
    text-decoration: none;
}

.header-button a:hover {
    text-decoration: none;
}

.header-button a:active {
    text-decoration: none;
}

a:visited {
    color: darkslategrey;
}

.header-headimage {
    width: 100%;
    max-height: 105px;
}

#header-header {
    background-color: #ec7f37;
}

#header-headerImage {
    margin: auto;
    max-width: 50%;
    max-height: 70px;
}

#header-cutoff {
    position: fixed;
    top: 7px;
    right: 10px;
}