.btn {
    border-radius: 12px;
    color: black;
    background-color: aliceblue;
    width: 30%;
    height: 20%;
    padding: 14px 24px;
}

.hidden{
display: none;
}

#homeImage {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

#greeting{
font-size: 200%;
}

#newOrderBtn {
    display: flex;
    font-size: 24px;
    justify-content: center;
}

#loginBtn{
    display: flex;
    justify-content: center;
}