body {
    text-align: justify;
}

div {
    width: 750px;
    margin: auto;
/*    border: 1px solid red;*/
}

form,
tr,
th,
td {
    border: 1px solid black;
}

#add_item {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
}

#box_option_1, #box_option_2, #box_option_3 
{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.checkBoxOption 
{
    width: 17px;
    height: 17px;
}

#div_output {
    display: none;
}

table,
tr {
    width: 700px;
    margin: auto;
    text-align: center;
}

input.input_number_field {
    width: 50px;
}

img {
    width: 80px;
    height: 80px;
}

#div_save 
{
    text-align: center;
    margin-top: 10px;
}

#save_option 
{
    margin: auto;
    width: 10%;
}

#added_list 
{
    float: right;
    position: relative;
    width: 200px;
}

#optional_tab_container 
{
	float: left;
	margin-left: 100px;
	border-right: 1px solid black;
}

#added_list 
{
	float: right;
	width: 300px;
	margin-right: 100px;
	height: 300px;
	padding: 10px;
}
