body 
{
    text-align: justify;
}

div
{
    border: 1px solid red;
    width: 1000px;
    margin: auto;
}

form, tr, th, td 
{
    border: 1px solid blue;
}
#add_item 
{
    text-align: center;
}

#div_output 
{
    display: none;
}
th 
{
    width: 500px;
}