body {
    margin: 0;
    display: flex;
    justify-content: space-around;
}


h4 {
    margin: 0;
}

h3 {
    margin: 11px 2px 0 0;
}

/* Remove arrows from number inputs*/
input[type=number] {
    -moz-appearance: textfield;
    width: 2vw;
    height: 3.1vw;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

td{
    text-align:center;
    font-weight: bold;
    border: 1px solid grey;
}

.regular-item-image1 {
    background-image: url("../images/close-up-delicious-farming-1447297.jpg");
    background-size: cover;
}

.regular-item-image2 {
    background-image: url("../images/bananas-bunch-food-41957.jpg");
    background-size: cover;
}

.regular-item-image3 {
    background-image: url("../images/cucumbers-food-gherkins-8694.jpg");
    background-size: cover;
}

.regular-item-image4 {
    background-image: url("../images/citrus-food-fresh-42059.jpg");
    background-size: cover;
}

.regular-item-image5 {
    background-image: url("../images/blur-close-up-cooking-161533.jpg");
    background-size: cover;
}

.regular-item-image6 {
    background-image: url("../images/chicken_breast_tenderloin.jpg");
    background-size: cover;
}

.regular-item-image1,
.regular-item-image2,
.regular-item-image3,
.regular-item-image4,
.regular-item-image5,
.regular-item-image6 {
    width: 80px;
    height: 80px;
    margin: 5px;
}

#regular-item-desc1,
#regular-item-desc2,
#regular-item-desc3,
#regular-item-desc4,
#regular-item-desc5,
#regular-item-desc6 {
    display: flex;
    width: 80%;
}

#regular-item-desc1 > *,
#regular-item-desc2 > *,
#regular-item-desc3 > *,
#regular-item-desc4 > *,
#regular-item-desc5 > *,
#regular-item-desc6 > *{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 0px 0 0px;
    width: 130px;
    height:20px;
    text-align: center;
    padding: 40px 0px;
}

#regular-price1,
#regular-price2,
#regular-price3,
#regular-price4,
#regular-price5,
#regular-price6{
    border: 1px solid grey;
    border-radius: 5px;
    width: 193px;
    text-align: center;
    height: 20px;
    padding: 40px 0;
    
}

#regular-itemList-header{
    width: 100%; 
}

#regular-itemList-header > *:nth-child(1) {
    margin-left: 140px;
    font-weight: bold;
    font-size: 1.1em;
}

#regular-itemList-header > *:nth-child(2) {
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.1em;
}

#regular-itemList-header > *:nth-child(3) {
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.1em;
}
#regular-itemList-header > *:nth-child(4) {
    margin-left: 60px;
    font-weight: bold;
    font-size: 1.1em;
}

#regular-itemList-header > *:nth-child(5) {
    margin-left: 90px;
    font-weight: bold;
    font-size: 1.1em;
}
#regular-itemList-header > *:nth-child(6) {
    margin-left: 70px;
    font-weight: bold;
    font-size: 1.1em;
}

#regular-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6E8E6;
    width: 1000px;
}

#regular-order > h1{
    margin-top: 15px;
}

#regular-view {
    width: 6vw;
    margin-bottom: 2vw;
}

#regular-placeOrder {
    margin-top: 10px;
    width: 10vw;
}

#confirm-popup {
    display: none;
    text-align: center;
    overflow: hidden;
    margin:0;
}

#confirm-popup > *{
    margin: 0;
    overflow: hidden;
}

/* Styles for item list view */

.regular-listQty {
    display: flex;
    justify-content: end;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px 25px;
    width: 75px;
}

.regular-listQty>input {
    height: 40px;
}

.regular-listQty>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
}

.regular-listQty>div>input {
    height: 25px;
}

#regular-itemList .regular-item-image {
    width: 4vw;
    height: 4vw;
    border: 1px solid black;
    margin-right: 0.5vw;
}

#regular-itemList #regular-item-desc {
    width: 15vw;
    border: 1px solid black;
    margin-right: 0.5vw;
}

#regular-itemList #regular-item-qty {
    width: 3vw;
    margin-right: 0.5vw;
}

#regular-itemList {
    height: 15vw;
    width: 90%;
    overflow-y: scroll;
    border: 2px solid gray;
}

#regular-itemList>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5vw;
    width: 99%;
}


/*Styles for item grid view */

.regular-gridRow {
    display: flex;
    margin-bottom: 0.6vw;
}

.regular-gridRow>.regular-item-image1 {
    width: 80px;
    height: 80px;
}

.regular-gridQty>input {
    width: 30px;
    height: 30px;
    text-align: center;
}

#regular-itemGrid {
    display: none;
    flex-direction: column;
    height: 15vw;
    width: 90%; 
    overflow-y: scroll;
    margin-bottom: 0.5vw;
    border: 2px solid gray;
}

#regular-itemGrid .regular-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5vw;
    width: 10vw;
}

#regular-itemGrid .regular-item-image {
    width: 6.1vw;
    height: 6.1vw;
    border: 1px solid black;
    margin-bottom: 0.5vw;
}

#regular-itemGrid #regular-item-desc {
    width: 6.1vw;
    border: 1px solid black;
    margin-bottom: 0.5vw;
}

#order-sent{
    display: block;
    height: 20px;
    margin-top: -10px;  
}